@page
@model InterviewPrepApp.Pages.Questions.Dashboard.BehavioralModel
@{
    ViewData["Title"] = "Behavioral";
    Layout = "_DashLayout";
}

<h1>Behavioral</h1>
@section FormInsides {
    <p>Create a new Behavioral Question</p>
    <div class="form-group">
        <label asp-for="@Model.Question.Question">Question</label>
        <textarea class="form-control" rows="2" asp-for="@Model.Question.Question"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-dark">
    </div>
}

@section TableHead {
    <tr>
        <th>
            Id
        </th>
        <th>
            Question
        </th>
    </tr>
}

@section TableRows {
    @foreach (var item in Model.AllQs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            @if (User.IsInRole("Nicco"))
            {
                <td>
                    <a asp-page="/Dashboard/Behavioral/Update" asp-route-id="@item.Id">Update</a>
                </td>
                <td>
                    <a asp-page="/Dashboard/Behavioral/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
    }
}